h1 {
  margin: 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: "Karla", sans-serif;
}
h4 {
  font-family: "Karla", sans-serif;
}
h5 {
  color: #8b5ca3;
  font-family: "Karla", sans-serif;
}
h6 {
  color: #8b5ca3;
  font-family: "Karla", sans-serif;
}
.container {
  width: 760px;
  margin: 0 auto;
  padding: 10px;
}
.container-purple {
  width: 760px;
  border: 1px solid #8b5ca3;
  margin: 20px auto;
  padding: 40px;
  border-radius: 10px;
}

.search-button {
  background-color: #8b5ca1 !important;
  border: 0px;
}

.current-location {
  color: #8b5ca1;
  background-color: #f4f0f6 !important;
  border-color: #8b5ca1;
}
.temperature {
  margin: 20px 0;
}

.now-info {
  margin: 0 auto;
}

.icon {
  display: block;
}

.weather-temperature .active {
  color: #000000;
  cursor: default;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
  font-size: smaller;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-forecast {
  margin-top: 40px;
  text-align: center;
}

.forecast-icon {
  margin-bottom: 8px;
}
